* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Serif JP", serif;
  font-weight: 300;
  text-align: justify;
}

@import "fonts";
// めも
// h1 章 chapter
// h2 節 section
// h3 見出し heading
// h4 小見出し subheading

h1 {
  counter-increment: chapter;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 8mm;
  padding-left: 21mm;

  color: white;
  &::before {
    position: absolute;
    left: -6mm;
    content: "第" counter(chapter) "章";
  }
}

// h1::after {
//   display: block;
//   position: absolute;
//   content: "";
//   background-color: #0184ca;
//   width: 100px;
//   height: 30px;
//   z-index: -100;
// }
@page :first {
  /* 全原稿ファイルの中で1枚目のページ */
  counter-reset: chapter;
}

@page :nth(1) {
  /* 各原稿ファイルの中で1枚目のページ */
  counter-increment: chapter;
}

// body {
//   /* 各原稿ファイル */
//   counter-reset: section;
// }

// @page: nth(1) {

@page {
  size: 148mm 210mm; /* A5サイズ */
  margin: 18mm 16mm 16mm 16mm;
}

@page :left {
  margin-right: 20mm;
  @top-left-corner {
    content: counter(page);
    text-align: center;
    font-family: "Noto Sans JP";
    font-weight: 500;
    font-size: 3.4mm;
  }
  @top-left {
    content: "第" counter(chapter) "章 │ " env(doc-title);
    font-family: "Noto Serif JP";
    font-weight: 500;
    font-size: 3mm;
  }
}

// 右ページの場合は右上に表示
@page :right {
  margin-left: 20mm;
  @top-right-corner {
    content: counter(page);
  }
}

// 表紙の画像
@page: first {
  background-image: url("./img/vs_bg_soutobira.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff;
  @bottom-right {
    content: none;
  }
}

// 章の最初のページの左側
@page: nth(2) {
  background-image: url("./img/image_left-chapter.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff;
  @top-left-corner {
    content: none;
  }

  @top-left {
    content: none;
  }
}

//章の最初のページの右側
@page: nth(3) {
  background-image: url("./img/chapter_page.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff;
  @top-left-corner {
    content: none;
  }

  @top-left {
    content: none;
  }
}

@page: nth(4) {
  background-image: url("./img/image_left1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff;
  @bottom-right {
    content: none;
  }
}

.pagebreak {
  visibility: hidden;
  break-after: page;
}

// h2 {
//   display: inline-flex;
//   // height: 518px;
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 8px;
//   flex-shrink: 0;

//   color: #017dc5;
//   font-family: Noto Serif JP;
//   font-size: 17px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: normal;
//   letter-spacing: 2.635px;
// }

h1 {
  page-break-after: left;
}

h2 {
  color: #017dc5;
  counter-increment: section;
  font-size: 6.3mm;
  // letter-spacing: 1.4mm;
  padding-left: 24mm;
  margin-bottom: 1.3mm;
  position: relative;
  &::before {
    content: "第" counter(section) "節 ";
    position: absolute;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    left: 21mm;
    width: 0.15mm;
    height: 6.3mm;
    top: 50%;
    margin-top: -2.8mm;
    background-color: #000;
  }
}

// 数字のみだし
h3 {
  counter-increment: subheading;
  counter-reset: heading;
  background-color: #e0eaf6;
  background: linear-gradient(to right, #fff 5%, #e0eaf6 5%);
  // margin: 1.3mm 0 0 0;
  margin-bottom: 2mm;
  padding: 0 0mm 0 12mm;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  height: 7mm;
  line-height: 7mm;
  font-size: 4mm;

  // 数字の書かれている，青い枠
  &::before {
    content: counter(subheading);
    text-align: center;
    width: 10mm;
    position: absolute;
    left: 0;
    background-color: #017dc5;
    box-shadow: 0px -10px 9px -4px #00abdd inset;
    height: 7mm;
    color: #fff;
    font-weight: 500;

    // 左下を削る
    clip-path: polygon(
      0mm 0px,
      calc(100%) 0px,
      100% 1mm,
      100% calc(100%),
      calc(100%) 100%,
      1mm 100%,
      0px calc(102% - 1mm),
      0px 1mm
    );
  }
}
// p {
//   font-size: 3mm;
//   font-family: Noto Sans JP;
//   font-weight: 500;
// }

.introduction {
  font-size: 3.5mm;
  font-family: "Noto Sans JP", sans-serif;
  // margin-top: 2mm;
  margin-bottom: 6mm;
  font-weight: 500;
  letter-spacing: -0.2mm;
}

h4 {
  counter-increment: heading;
  font-family: Noto Sans JP;
  font-weight: 600;
  font-size: 3.4mm;
  padding-left: 6mm;
  // margin-top: 6mm;
  margin-bottom: 2mm;
  border-bottom: 0.2mm #d55564 solid;
  &::before {
    color: #fff;
    position: absolute;
    left: 0;
    text-align: center;
    width: 5mm;
    background-color: #d55564;
    content: counter(heading, upper-alpha);
  }
}

p {
  text-indent: 1rem;
  font-size: 3.7mm;
}
